{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="/app">HomePage</a></li>
    <li><a href="/api">API Platform's Swagger UI</a></li>
    <li><a href="/api/tasks.jsonld">API Platform: collection of tasks (GET/JSON-LD)</a></li>
</ul>
<br/>
{% for task in tasks %}
    {% include 'task/partials/task_detail.html.twig' with {'task': task} %}
{% endfor %}
{% endblock %}
