<h1><a href="{{ path('app_task_detail', { uuid: task.uuid.uuid }) }}">{{ task.name }}</a></h1>
<ul>
    <li>{{ task.description }}</li>
    <li>{{ task.completed ? 'completed' : 'to do' }}</li>
</ul>
